#blog{
    width: 100%;
    height: 100dvh;
    background-color: #FBFCFD;
}

#blog-title {
    text-align: center;
    padding-top: 20px;
    color: #333;
}


#all-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 90px;
    margin-top: 30px;

}




.holographic-card {
  width: 300px;
  height: 400px;
  background: #0F9BF2;

  display: flex;
  flex-direction: column;


  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  transition: all 0.5s ease;

  
}

.card-title{
    color: #fff;
    padding-top: 30px;
}

.holographic-card h2 {
  color: #0ff;
  font-size: 2rem;
  position: relative;
  z-index: 2;

}

.holographic-card::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg, 
    transparent, 
    transparent 30%, 
    rgba(0,255,255,0.3)
  );
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}

.holographic-card:hover {
  transform: scale(1.05);
}

.holographic-card:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}

.container-dog{
    width: 280px;
    height: 100px;
    background-color: #FBFCFD;
    box-shadow: -5px 6px 12px -7px rgba(0,0,0,0.75);
      -webkit-box-shadow: -5px 6px 12px -7px rgba(0,0,0,0.75);
      -moz-box-shadow: -5px 6px 12px -7px rgba(0,0,0,0.75);
}

.txt-apresentacao{
  text-align: center;
  margin: 10px;
}


.img-card img{
  height: 200px;
  width: 200px;
    box-shadow: -5px 6px 12px -7px rgba(0,0,0,0.75);
      -webkit-box-shadow: -5px 6px 12px -7px rgba(0,0,0,0.75);
      -moz-box-shadow: -5px 6px 12px -7px rgba(0,0,0,0.75);

}