#form-container{
        width: 100%;
        height: 60dvh;
        background-color: #F29F05;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        
        
    }

    #formulario{
        text-align: center;
        padding: 10px;
        
    }

    

    #mini-form-container{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffff;
        box-shadow: -7px 7px 5px -5px #B5B5C9, 
                    -3px 6px 5px 0px #858989;
        height: 50vh;
        width: 50vh;
        font-family: "Montserrat", sans-serif;
    }

    .txt-form{
        margin: 15px;
        text-decoration: none;
        border: none;
        align-items: center;
        font-size: 1.4rem;
    }

    #info-contato{
        margin: 15px;
        text-decoration: none;
        border: none;
        align-items: center;
        font-size: 1.4rem;
        font-weight: 900;
        color: #ffff;
       
    }

    input{
        text-align: center;
    
    }

    input:focus{
        border: none;
        outline: none;
        font-family: "Montserrat", sans-serif;
    }

    #btn{
        box-shadow: -50px -50px 9px -50px #276873;
        background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
        background-color:#599bb3;
        border-radius:4px;
        border:2px solid #29668f;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:20px;
        font-weight:bold;
        padding:11px 27px;
        text-decoration:none;
        text-shadow:0px 1px 0px #3d768a;
    }

    #btn:hover{
        background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	    background-color:#408c99;
    }
