#foto {
    width: 100%;
    height: 90dvh;
    background-image: url(/image/Gemini_Generated_Image_4k1ik84k1ik84k1i.png);
    background-size: cover;
    background-position: flex-end;
}


#txt-foto{
    color: white;
    padding-top: 80px;
    font-size: 1.5rem;
    padding-left: 90px;

}

#aumigo{
    font-size: 4rem;
}

