@import url(/index.html); 

    header{
        width: 100%;
        height: 13dvh;
        background-color: #0F9BF2;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Montserrat", sans-serif;
        box-sizing: border-box;
        box-shadow: -7px 7px 5px -5px #B5B5C9, 
                    -3px 6px 5px 0px #858989;
        
    
    }

 #imglogo {
    
    width: 120px; 
    height: auto;
    object-fit: contain;
}

#imglogo img {
    width: 100%;
    height: auto;
 
}

#topo {
  
    display: flex;
    gap: 10px; 
}


.home {
    color: #ffff;
    text-decoration: none;
    font-size: 1.0rem;
     font-weight: 700;
    cursor: pointer;
    padding: 8px 12px; 
    border: solid 1px white;
    border-radius: 5px;
    transition: 0.3ms;
    display: flex; 
    align-items: center;
    gap: 8px; 
}


.home:hover {
    background-color: aliceblue;
    color: black;
}


